@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);


/* fuente utilizada por defecto */
.font{
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 29px;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 2px;
  color:rgb(131, 131, 131);
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  position: relative;
  }

  
  @media only screen and (min-width: 300px){
    .font{
      font-size: 16px;
    }
  }
  @media only screen and (min-width: 530px){
    .font{
      font-size: 20px;
    }
  }
  @media only screen and (min-width: 650px){
    .font{
      font-size: 23px;
    }
  }
  
  @media only screen and (min-width: 768px){
    .font{
      font-size: 27px;
    }
  }
  @media only screen and (min-width: 1080px){
    .font{
      font-size: 30px;
    }
  }


 /* Color negro de background */ 
.background {
background-color: rgb(22, 22, 22);
-webkit-font-smoothing: antialiased;

}

.link_velocidad {
  color: red;
}
.cajatexto{
background-color: #030303;
border-radius: 4px;
color:rgb(255, 255, 255); 
border: 2px solid black;
height: 25px;
font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
font-size: 16px ;
}

@media only screen and (min-width: 300px){
  .cajatexto{
    width: 160px;
    height: 18px;
    font-size: 9px;
  }
}

@media only screen and (min-width: 350px){
  .cajatexto{
    width: 200px;
    height: 20px;
    font-size: 11px;
  }
}

@media only screen and (min-width: 450px){
  .cajatexto{
    width: 300px;
    font-size: 16px;
  }
}

.cajatexto:focus{
outline: 0;
border-radius: 3px;
box-shadow: 0 0 0 2px red;
}

/* Propiedades de la caja donde se muestra la informacion general de la pagina. */

.caja { 
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  color: #ffffff; 
  font-size: 18px; 
  font-weight: 400; 
  text-align: center; 
  background: #030303; 
  margin: 0 0 25px; 
  overflow: hidden; 
  padding: 20px; 
  border-radius: 35px 35px 35px 35px; 
  -moz-border-radius: 35px 35px 35px 35px; 
  -webkit-border-radius: 35px 35px 35px 35px; 
  border: 2px solid #030303;
}

@media only screen and (min-width: 300px){
  .caja{
    
    font-size: 10px;
  }
}

@media only screen and (min-width: 350px){
  .caja{
    
    font-size: 12px;
  }
}

@media only screen and (min-width: 450px){
  .caja{
    
    font-size: 18px;
  }
}



/* Propiedades del texto de los radio button y del input text */

.txt {
  color: rgb(112, 112, 112);
  font-size: 18px;
  text-align: center;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

}


@media only screen and (min-width: 300px){
  .txt{
    font-size: 8px;
  }
}
@media only screen and (min-width: 350px){
  .txt{
    font-size: 12px;
  }
}
@media only screen and (min-width: 650px){
  .txt{
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px){
  .txt{
    font-size: 16px;
  }
}
@media only screen and (min-width: 1080px){
  .txt{
    font-size: 18px;
  }
}

/* Todas las propiedades referidas a los radio button para la seleccion de las unidades. */

.form-radio
{
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   display: inline-block;
   position: relative;
   background-color: #f1f1f1;
   color: red;
   top: 2px;
   height: 20px;
   width: 20px;
   border: 0;
   border-radius: 50px;
   cursor: pointer;
   margin-right: 7px;
   outline: none;
}
@media only screen and (min-width: 300px){
  .form-radio{
    height: 10px;
    width: 10px;
    top: 4px;
  }
}

@media only screen and (min-width: 350px){
  .form-radio{
    height: 10px;
    width: 10px;
    top: 1px;
  }
}
@media only screen and (min-width: 720px){
  .form-radio{
    height: 18px;
    width: 18px;
    top: 4px;
  }
}


.form-radio:hover
{
   background-color: rgb(245, 122, 122);
}
.form-radio:checked
{
   background-color: red;
}



/* Imagen del logo de la empresa ;) */
.imagen{
  width: 60px;
  height: 60px;
  position: relative; 
  top: 8px;
}

@media only screen and (min-width: 350px){
  .imagen{
    width: 40px;
    height: 40px;
    position: relative; 
    top: 8px;
  }
}
@media only screen and (min-width: 720px){
  .imagen{
    width: 60px;
    height: 60px;
    position: relative; 
    top: 8px;
  }
}

a {
  text-decoration:none;
  color:#FFF;
}

/* Propiedades del boton calcular. */
.botonCalcular{
  padding: 16px 36px;
  border-radius: 6px;
  border: 2px solid darkgrey;
  background: transparent;
  color: darkgrey;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  outline: none;
  cursor: pointer;
  transition-duration: 0.5s;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial", sans-serif;
}
.botonCalcular:hover {
  background-color: red;
  color: black;
  border-color: black;
}
.botonCalcular :focus{
  box-shadow: 0 0 0 3px red;
  border-radius: 3px;
}


/* Tablas donde se muestran los resultados. */

.tablaResultado {
  border-collapse: collapse;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  
}

@media only screen and (min-width: 300px){
  .tablaResultado{
    
    font-size: 10px;
  }
}

@media only screen and (min-width: 350px){
  .tablaResultado{
    
    font-size: 12px;
  }
}

@media only screen and (min-width: 450px){
  .tablaResultado{
    
    font-size: 14px;
  }
}

@media only screen and (min-width: 720px){
  .tablaResultado{
    
    font-size: 18px;
  }
}


.encabezado, .columna {
  text-align: left;
  padding: 8px;
}
.fila {
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: black;
  background-color: darkgray;
}

.fila:nth-child(even){background-color: gray}

.encabezado {
  background-color: rgb(58, 58, 58);
  text-align: center;
  color: white;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  width: 50%;
 
}


/* Todo lo referido a los contactos de las redes sociales. */

h4 {
    
    margin:  1% 0 1% 11%;
    margin-top: 70px;
    color: #ffffff;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 

}
._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
ul {
    padding:0;
    list-style: none;
}
.redes_sociales {
    width: 350px;
    display: block;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 8px;
}
.social-icons li {
    vertical-align: top;
    display: inline;   
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-instagram {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-instagram:hover {
    background-color: #e4405f;
}
.fa-google {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-google:hover {
    background-color: #f13e35;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #5a32a3;
}



/* Boton de cambio de tema */
.switch{
  background: darkgoldenrod;
  border-radius: 10px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  margin-left: auto;
  margin-top: -1.7em;
 
}

.switch .btndark{
  width: 16px;
  height: 16px;
  line-height: 16px;
  display: block;
  background: none;
  color: #fff;
  transition-duration: 0.5s;
}

.switch::after{
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  background: #F1F1F1;
  top: 1px;
  left: unset;
  right: 3px;
  border-radius: 100px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}

/* Tamaños del boton de cambio de tema segun la pantalla donde se corra la web */

@media only screen and (min-width: 300px){
  .switch .btndark{
    width: 10px;
    height: 12px;
    line-height: 11.5px;
  }
}

@media only screen and (min-width: 400px){
  .switch .btndark{
    width: 12px;
    height: 16px;
    line-height: 16px;
  }
}

@media only screen and (min-width: 300px){
  .switch::after{
    width: 12px;
    height: 12px;
    line-height: 14px;
    top: 1px;
    left: 4px;
  }
}

@media only screen and (min-width: 400px){
  .switch::after{
    width: 16px;
    height: 16px;
    line-height: 16px;
    top: 1px;
    left: 3px;
  }
}

@media only screen and (min-width: 600px){
  .switch .btndark{
    width: 14px;
    height: 18px;
    line-height: 18px;
  }
}

@media only screen and (min-width: 600px){
  .switch::after{
    width: 17px;
    height: 17px;
    line-height: 16px;
    top: 1px;
    left: 3px;
  }
}




/* Cambio de tema*/

body.light .switch {
  background: #343D5B;
  
}

body.light .switch::after{
  
  top: 1px;
  left: unset;
  right: 3px;
  
}

body.light .caja {
  color: black;
  background: wheat;
}

body.light .font{
  color: black;
}

body.light {
  background: whitesmoke;
}

body.light .cajatexto{
  background-color: wheat;
  border-radius: 6px;
  border-color: #254BE6;
  color: black;
}

body.light .cajatexto:focus {
  box-shadow: 0 0 0 2px #254BE6;
}

body.light .font {
  color: rgb(0, 0, 0);
}

body.light .txt {
  color: black;
}

body.light .link_velocidad {
  color: #254BE6;
}

body.light .form-radio{
  background-color: darkgrey;
}

body.light .form-radio:checked
{
   background-color: #254BE6;
}

body.light .form-radio:hover
{
   background-color: darkblue;
}

body.light .fila {
  color: black;
  background-color: wheat;
}

body.light .fila:nth-child(even){background-color: rgb(240, 200, 126)}

body.light ._14{
  color: black;
}

 body.light ::placeholder {
  color: black;
}

body.light .botonCalcular {
  border: 2px solid black;
  color: black;

}

body.light .botonCalcular:hover{
  background-color: red;
  color: wheat;
  border-color: black;
}


body.light .botonCalcular:hover {
  background-color: #254BE6;
}
body.light .botonCalcular :focus{
  box-shadow: 0 0 0 3px #254BE6;
  border-radius: 3px;
}


