@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);



.font{
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 29px;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 2px;
  color:rgb(131, 131, 131);
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  }

  
  @media only screen and (min-width: 300px){
    .font{
      font-size: 16px;
    }
  }
  @media only screen and (min-width: 530px){
    .font{
      font-size: 20px;
    }
  }
  @media only screen and (min-width: 650px){
    .font{
      font-size: 23px;
    }
  }
  
  @media only screen and (min-width: 768px){
    .font{
      font-size: 27px;
    }
  }
  @media only screen and (min-width: 1080px){
    .font{
      font-size: 30px;
    }
  }

  .themeButton {
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
   
  .themeButton {background-color: black;}

.background {
background-color: rgb(22, 22, 22);
-webkit-font-smoothing: antialiased;

}

.link_velocidad {
  color: blue;
}
.cajatexto{
background-color: #030303;
color:rgb(255, 255, 255); 
border: 2px solid black;
height: 25px;
font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
font-size: 16px ;
}

@media only screen and (min-width: 300px){
  .cajatexto{
    width: 160px;
    height: 18px;
    font-size: 9px;
  }
}

@media only screen and (min-width: 350px){
  .cajatexto{
    width: 200px;
    height: 20px;
    font-size: 11px;
  }
}

@media only screen and (min-width: 450px){
  .cajatexto{
    width: 300px;
    font-size: 16px;
  }
}

.cajatexto:focus{
outline: 0;
border-radius: 3px;
box-shadow: 0 0 0 2px blue;
}

.caja { 
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  color: #ffffff; 
  font-size: 18px; 
  font-weight: 400; 
  text-align: center; 
  background: #030303; 
  margin: 0 0 25px; 
  overflow: hidden; 
  padding: 20px; 
  border-radius: 35px 35px 35px 35px; 
  -moz-border-radius: 35px 35px 35px 35px; 
  -webkit-border-radius: 35px 35px 35px 35px; 
  border: 2px solid #030303;
}

@media only screen and (min-width: 300px){
  .caja{
    
    font-size: 12px;
  }
}

@media only screen and (min-width: 350px){
  .caja{
    
    font-size: 14px;
  }
}

@media only screen and (min-width: 450px){
  .caja{
    
    font-size: 18px;
  }
}




.txt {
  color: rgb(112, 112, 112);
  font-size: 18px;
  text-align: center;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

}


@media only screen and (min-width: 300px){
  .txt{
    font-size: 8px;
  }
}
@media only screen and (min-width: 350px){
  .txt{
    font-size: 12px;
  }
}
@media only screen and (min-width: 650px){
  .txt{
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px){
  .txt{
    font-size: 16px;
  }
}
@media only screen and (min-width: 1080px){
  .txt{
    font-size: 18px;
  }
}

.form-radio
{
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   display: inline-block;
   position: relative;
   background-color: #f1f1f1;
   color: blue;
   top: 2px;
   height: 20px;
   width: 20px;
   border: 0;
   border-radius: 50px;
   cursor: pointer;
   margin-right: 7px;
   outline: none;
}
@media only screen and (min-width: 300px){
  .form-radio{
    height: 10px;
    width: 10px;
    top: 4px;
  }
}

@media only screen and (min-width: 350px){
  .form-radio{
    height: 10px;
    width: 10px;
    top: 1px;
  }
}
@media only screen and (min-width: 720px){
  .form-radio{
    height: 18px;
    width: 18px;
    top: 4px;
  }
}

.form-radio:checked::before
{
   position: absolute;
   font: 13px/1 'Open Sans', sans-serif;
   left: 7px;
   top: 3px;
   content: none;
   transform: rotate(40deg);
}
.form-radio:hover
{
   background-color: black;
}
.form-radio:checked
{
   background-color: blue;
}
.label
{
   font: 15px/1.7 'Open Sans', sans-serif;
   color: blue;
   
   cursor: pointer;
}
.imagen{
  width: 40px;
  height: 40px;
  position: relative; 
  top: 8px;
}

a {
  text-decoration:none;
  color:#FFF;
}
.rainbow-button {
  width:calc(25vw + 6px);
  height:calc(6vw + 6px);
  background-image: linear-gradient(60deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  border-radius:2px;
  display:flex;
  align-items:center;
  justify-content:center;
  text-transform:uppercase;
  font-size:2vw;
  font-weight:bold;
  margin-left: auto;
  margin-right: auto;
}
.rainbow-button:after {
  content:attr(alt);
  width: 25vw;
  height: 6vw;
  background-color:#030303;
  display:flex;
  align-items:center;
  justify-content:center;
}
.rainbow-button:hover {
  animation: slidebg 3s linear infinite;
}

@media only screen and (min-width: 720px){
  .rainbow-button:after{
    width: 14vw;
    height: 4vw;
  }
}

@media only screen and (min-width: 720px){
  .rainbow-button{
    width:calc(14vw + 6px);
    height:calc(4vw + 6px);
    font-size: 1.5vw;
  }
}


@keyframes slidebg {
  to {
    background-position: 5vw;
  }
}


.tablaResultado {
  border-collapse: collapse;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.encabezado, .columna {
  text-align: left;
  padding: 8px;
}
.fila {
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: black;
  background-color: darkgray;
}

.fila:nth-child(even){background-color: gray}

.encabezado {
  background-color: rgb(58, 58, 58);
  color: white;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}



h4 {
    
    margin:  1% 0 1% 11%;
    margin-top: 70px;
    color: #ffffff;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 

}
._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
ul {
    padding:0;
    list-style: none;
}
.redes_sociales {
    width: 350px;
    display: block;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 8px;
}
.social-icons li {
    vertical-align: top;
    display: inline;   
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-instagram {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-instagram:hover {
    background-color: #e4405f;
}
.fa-google {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-google:hover {
    background-color: #e64a41;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #5a32a3;
}